/* Profile.css */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-top: 20px;
    text-align: center;
    width: 260px;
    height: 340px;
    margin: 0 auto;
    box-shadow: 5px 5px lightblue;
  }
  
  .profile img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile h2 {
    font-size: 20px;
  }
  
  .profile p {
    margin: 5px 0;
  }
  
  .tag,
  .location {
    color: #c5b8b8;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 10px;
    background: #c5b8b8;
    border-radius: 0 0 8px 8px;
  }
  
  .followers,
  .views,
  .likes {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
  }
  
  .followers_title,
  .views_title,
  .likes_title {
    font-weight: bold;
  }
  