.Transactions_transactions__-XrTd {
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
    box-shadow: 1px 1px 3px 1px #575757;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    margin-top: 50px;
    padding: 10px 70px;
    text-align: center;
    width: 500px;
}

.transactions {
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 70px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    box-shadow: 1px 1px 3px 1px #575757;
    margin-top: 50px;
    width: 500px;
  }
  
  .transaction_header {
    border: 1px solid #bcbcbc;
    padding: 10px 70px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #46a8cc;
    color: whitesmoke;
  }
  
  .transaction_data {
    border: 1px solid #bcbcbc;
    font-size: 14px;
    min-width: 200px;
    padding: 8px;
  }
  
  .transaction_row {
    background-color: #edeeee;
  }
  
  .transaction_row:nth-child(even) {
    background-color: #d6f1fb;
  }
  
  .transaction_row:hover {
    scale: 1.02;
    
  }